# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/workspace.xml
mobile-group-activities.iml
target/generated-sources/
/target/
/target/mobile-group-activities.jar
/target/mobile-group-activities.jar.original

